
<div class="container">
    <form{{ attributes }}>
    <div class="row">
        <div class="col-sm-8">
        {{ element.lineas_form.mensaje }}
       </div>
   </div>

    <div class="row">
            <div class="col" >
              {{ element }}
              </div>
    </div>
  
</div>
</div>
</form>
</div>
