<div class='header-login'>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="pla-imgWW imagen-bgWW" src="../../../../themes/custom/theme_gobernacion/assets/imagen/LOGO GOBERNACION 2020-2023 SIN FONDO.png" width="336px" alt="Plan de desarrollo">
    </div>
    <div class="col-sm-9">
      <h4 class="title-g">SISTEMA DE SEGUIMIENTO A LOS PROYECTOS DE INVERSIÓN DE LA SECRETARIA DE INFRAESTRUCTURA</h4>
    </div>
  </div>
</div>
</div>
<header class="header-secondary">
  <h1 class="text-header">

  </h1>
</header>

<div class="container-lineas">
  
      <div class="col">
          {{ page.content }}
  
    </div>
</div>
