
<div class='header-login'>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="pla-imgWW imagen-bgWW" src="../../../../themes/custom/theme_gobernacion/assets/imagen/LOGO GOBERNACION 2020-2023 SIN FONDO.png" width="336px" alt="Plan de desarrollo">
    </div>
    <div class="col-sm-9">
      <h4 class="title-g">SISTEMA DE SEGUIMIENTO A LOS PROYECTOS DE INVERSIÓN DE LA SECRETARIA DE INFRAESTRUCTURA</h4>
    </div>
  </div>
</div>
</div>

<div class="container conten-form-login">
    <div class="row align-items-center">
      <div class="col">
        <img class="pla-img imagen-bg" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image7.jpg" width="336px" alt="Plan de desarrollo">
      </div>
      <div class="col conten-icons">
        <div class="row">
          <div class="col-sm-7">
            <img class="pla-img" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image1.png" width="88px" alt="Plan de desarrollo">
          </div>
          <div class="col-sm-3">
            <p class="text-aline-elem">Plan de desarrollo</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <img class="pla-img" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image2.png" width="88px" alt="Plan de desarrollo">
          </div>
          <div class="col-sm-4">
            <p class="text-aline-elem">Presupuesto</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <img class="pla-img" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image3.png" width="88px" alt="Plan de desarrollo">
          </div>
          <div class="col-sm-7">
            <p class="text-aline-elem">Proyectos</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <img class="pla-img" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image4.png" width="88px" alt="Plan de desarrollo">
          </div>
          <div class="col-sm-7">
            <p class="text-aline-elem">Actividades</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <img class="pla-img" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image5.png" width="88px" alt="Plan de desarrollo">
          </div>
          <div class="col-sm-4">
            <p class="text-aline-elem">contratación</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <img class="pla-img" src="../../../../themes/custom/theme_gobernacion/assets/imagen/image6.png" width="88px" alt="Plan de desarrollo">
          </div>
          <div class="col-sm-5">
            <p class="text-aline-elem">Actas</p>
          </div>
        </div>
      </div>
    <div class="col alint-form">
          {{ page.content }}
    </div>
    </div>
</div>
